.dot-background {
        width: 100%;
        background-image: radial-gradient(#ffffff66 1px, transparent 1px);
        background-size: 16px 16px;
}

.mask-image-gradient-to-r {
        mask-image: linear-gradient(to right, black 70%, transparent);
}

@keyframes rotate {
        from {
                transform: rotate(0deg);
        }

        to {
                transform: rotate(360deg);
        }
}

.rotating {
        animation: rotate 2s linear infinite;
}

@keyframes gradientFlow {

        0%,
        100% {
                border-image: linear-gradient(to right, #8DCD39, #FFFFFF, #bbff00) 1;
        }

        33% {
                border-image: linear-gradient(to right, #FFFFFF, #bbff00, #8DCD39) 1;
        }

        66% {
                border-image: linear-gradient(to right, #bbff00, #8DCD39, #FFFFFF) 1;
        }
}

.navigating {
        animation: gradientFlow 3s linear infinite;
        border-image-slice: 1;
}